.Applications {
  .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
  }
  .CredentialsBtn {
    background-color: #6ca100 !important;
    border: 0 !important;
  }
  .CredentialsIcon {
    width: 20px;
    height: 20px;
    background: url('../../assets//image/yaoshi.png') no-repeat center;
    background-size: 100%;
  }
}
